body{
    font-family: 'Patua One', serif, Arial, Helvetica, sans-serif;
    background: url(imagenes/cyber-security1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
